/**
 *
 * -------------------------------------------
 * Mobile CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 13. Mobile code
 *
 *
------------------------------------ */
 
/* 13.1. Base elements
==================================== */ 

.cssLogo {
	margin: 20px 0!important;
}

#gk-menu-overlay-wrap {
	margin: -20px 0 0 -150px!important;
	max-width: 300px!important;
}

#gk-menu-overlay-wrap.open {
	margin-top: 0!important;
}

#gk-menu-overlay-content li {
	font-size: 15px;
}

#gk-menu-overlay-content li,
#gk-menu-overlay-content li a {
	line-height: 38px;
}

#gk-menu-overlay-header {
	font-size: 22px;
	line-height: 72px;
}

#gk-menu-overlay-close {
	font-size: 20px;
	line-height: 72px;	
}

#gk-top {
	padding: 0 15px;
}

.box > .gk-is-wrapper-gk-bluap {
	margin: 0 15px!important;
	max-width: 100%!important;
	width: auto!important;
}

#gk-header-bottom {
	padding: 20px 20px 0 20px;
}

#gk-header-bottom .box {
	padding: 0 15px 30px 15px!important;
}

#gk-top1 .box, #gk-top2 .box {
	padding: 0 20px 30px 20px!important;
}

#gk-header-bottom .box {
	padding: 20px 15px!important;
}

#gk-mainbody-columns {
	padding: 30px 15px 0 15px;
}

#gk-breadcrumb-area {
	padding: 10px 15px;
}

#gk-bottom1.gk-single-widget > div, 
#gk-bottom2.gk-single-widget > div, 
#gk-bottom3.gk-single-widget > div, 
#gk-bottom4.gk-single-widget > div {
	margin: 0 -15px!important;
}

#gk-bottom1.gk-single-widget .box, 
#gk-bottom2.gk-single-widget .box, 
#gk-bottom3.gk-single-widget .box, 
#gk-bottom4.gk-single-widget .box {
	padding: 16px!important;
}

#gk-bottom1, 
#gk-bottom2, 
#gk-bottom3, 
#gk-bottom4, 
#gk-footer {
	padding: 0 15px!important;
}

#gk-footer {
	margin-bottom: 80px;
}

#footer-menu li:before {
	display: none;
}

#gk-sidebar .box,
#gk-bottom1 .box,
#gk-bottom2 .box,
#gk-bottom3 .box,
#gk-bottom4 .box {
	clear: both!important;
	float: none!important;
	width: 100%;
}

#gk-top1 .widget-area,
#gk-top2 .widget-area,
#gk-bottom1 .widget-area,
#gk-bottom2 .widget-area,
#gk-bottom3 .widget-area,
#gk-bottom4 .widget-area {
	margin: 0 -15px!important;
}

/* archive / page 404 */
.page404 .widget,
.archivepage .widget {
	margin: 0!important;
	width: 100%!important;
}

.archivepage .widget h2 {
	margin-top: 20px;
}

/* images fix */
#gk-mainbody img {
	height: auto!important;
	max-width: 100%!important;
}

/* column rules */
#gk-mainbody-columns > aside {
	clear: both;
	margin: 0 -10px;
	width: auto!important;
}

#gk-sidebar .box {
	float: none!important;
	width: 100%!important;
}

#gk-bottom1 .box,
#gk-bottom2 .box  {
	margin-bottom: 20px;	
}

#gk-sidebar .box {
	float: none;
	margin-top: 0!important;
	margin-bottom: 12px!important;
	width: 100%;
}

#gk-sidebar .box:nth-child(2n+1) {
	clear: both!important;
}

#gk-sidebar .box:nth-child(odd) {
	padding-right: 0px;	
}

#gk-sidebar .box:nth-child(even) {
	padding-left: 0px;
}

#gk-header-bottom > div {
	margin: 0 -15px;
}

.widget-area .col1,
.widget-area .col2,
.widget-area .col3,
.widget-area .col4,
.widget-area .col5,
.widget-area .col6,
.widget-area .box.last1,
.widget-area .box.last2,
.widget-area .box.last3,
.widget-area .box.last4,
.widget-area .box.last5 { 
	float: none!important;
	margin: 0 auto;
	padding-bottom: 20px!important;
	width: 100%; 
}

.widget-area .nth1,
.widget-area .nth2,
.widget-area .nth3,
.widget-area .nth4,
.widget-area .nth5,
.widget-area .nth6 {
	clear: both;
}

#footer-menu li {
	float: none;
	line-height: 3.0;
}

#gk-footer .gk-copyrights {
	line-height: 1.6;
	padding: 20px 0;
}

.tag-page article, 
.category-page article, 
.search-page article, 
.archive article, 
.page-template-template-latest-php article, 
.home .gk-is-homepage article, 
.home #gk-mainbody article {
	margin-bottom: 55px!important;	
}

/* 13.2. Header and demo elements
==================================== */

.gk-columns > div {
	clear: both!important;
	margin: 10px 0!important;
	padding: 0!important;
	width: 100%!important;
}

/* 13.3. Posts
==================================== */

#gk-mainbody article > header h1 {
	line-height: 32px;
	margin-bottom: 10px;
	padding: 18px 0 0px;
}

#gk-mainbody article > header h1, 
#gk-mainbody article > header h2 {
	font-size: 24px;
	line-height: 1.2;
}

article header ul,
#gk-mainbody article > header h2 {
	margin: 0 0 10px 0;
}

article header ul li.date-mobile {
	display: inline;
}

article > header .header-date,
#comments > .icon-comments {
	display: none;
}

#gk-mainbody article > header,
#gk-mainbody article .content,
#gk-mainbody article .summary,
#gk-mainbody p.tags,
section#comments,
section#respond {
	padding-left: 0;
}

#gk-mainbody article > header {
	padding-bottom: 5px;
	position: relative;
}

article figure.featured-image {
	margin-bottom: 15px;
}

h1 {
	font-size: 28px;
}

h2, 
.pagetitle {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

#comments li article > aside {
	float: left;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 10px;
	position: static!important;
}

#comments article .author {
	float: none;
	margin-top: 5px;
}

#comments article header > * {
	clear: both;
	display: block;
	float: left;
	margin: 5px 0!important;
	width: 100%;
}

#comments li article > .content {
	margin-left: 0!important;
	padding-left: 0!important;
}

#comments > h2:first-child,
#respond > h3 {
	font-size: 30px;
	padding: 30px 0 0;
}

#gk-mainbody article > header h1, 
#gk-mainbody article > header h2 {
	font-size: 24px!important;
	line-height: 1.2;
}

.tag-page > article, 
.search-page > article {
	padding: 0!important;
	width: 100%!important;
}

#gk-mainbody article > header .format {
	height: 26px;
	left: 0;
	position: absolute;
	top: -18px;
	width: 26px;
}

#gk-mainbody article > header .format:before {
	font-size: 13px;
}

.box {
	margin-bottom: 20px!important;
}

#gk-popup-login {
	margin-left: -150px;
	top: 20px;
	width: 300px;
}

.gk-popup-wrap {
	padding: 15px;
}

.gk-popup-wrap h3 {
	font-size: 25px;
	margin: 0 0 10px 0;
}

/* 13.4. Other elements
==================================== */

.gk-nsp .gk-nsp-art {
	border-left: none!important;
	padding-bottom: 20px!important;
	padding-top: 20px!important;
	width: 100%!important;
}
.gk-nsp .gk-nsp-art:first-child {
	border-top: none!important;
}

.gk-nsp-arts,
.gk-nsp-links-wrap {
	clear: both;
	float: left!important;
	width: 100%!important;
}

#gk-mobile-menu,
#gk-user-area .btn {
	margin-left: 15px!important;
}

.gk-price-table {
	padding: 20px 0;
}

.gk-price-table dl {
	margin: 20px auto!important;
	width: 100%!important;
}

article header {
	margin-bottom: 15px;
}

.gk-contact-form > div,
.gk-contact-form > form {
	clear: both;
	float: none;
	margin: 20px 0;
	width: 100%!important;
}

.frontpage #gk-mainbody article .summary {
	padding-left: 0;
}

.frontpage #gk-mainbody article:first-child {
	margin-top: -33px;
}

.gk-breadcrumbs > a,
.gk-breadcrumbs > span {
	font-size: 14px!important;
	line-height: 1.6!important;
}

.box.bigtitle .box-title,
.box.bigtitle .box-title small {
	font-size: 28px!important;
	margin-bottom: 20px;
}

.box.bigtitle .box-title:after {
	top: 5px;
	width: 70px;
}

.box.mediumtitle .box-title {
	font-size: 20px;
	margin-bottom: 20px;
}

.box.mediumtitle .box-title small {
	font-size: 14px;
	line-height: 1.5;
}

#galery ol {
	left: 15px;
	top: 15px;
}

#gallery figcaption {
	display: none;
}

.gallery-item {
	clear: both;
	margin: 10px 0;
	width: 100%!important;
}

.gk-numblock {
	padding: 0 0 0 56px !important;
}

.gk-news-gallery {
	padding: 10px 0;
}

.gk-news-gallery .gk-images-wrapper > a {
	padding: 0 2px;
}

#gk-bottom1.gk-single-widget .box.bigspaces.imagebg, 
#gk-bottom2.gk-single-widget .box.bigspaces.imagebg, 
#gk-bottom3.gk-single-widget .box.bigspaces.imagebg, 
#gk-bottom4.gk-single-widget .box.bigspaces.imagebg, 
#gk-bottom5.gk-single-widget .box.bigspaces.imagebg, 
#gk-bottom6.gk-single-widget .box.bigspaces.imagebg {
	padding-bottom: 40px!important;
}

.button-big {
	font-size: 14px;
}

/* Tabs */

.gk-tabs-wrap > ol {
	border: 1px solid #e1e1e1;
	border-bottom: none;
}

.gk-tabs-wrap > ol li {
	border-bottom: 1px solid #e1e1e1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

/* 13.5. Device classes
==================================== */

.onlyDesktop {
	display: none!important;
}

.onlyTablets {
	display: none!important;
}

.onlySmartphones {
	display: block!important;
}

.onlyTabltetsAndSmartphones {
	display: block!important;
}

/* 13.6. BuddyPress
==================================== */
.box.login-bg .box-title {
	font-size: 26px;
}
.box.login-bg {
	margin-bottom: 0;
}

#buddypress div.rtmedia-activity-container ul.rtmedia-list li.media-type-video .rtmedia-item-thumbnail .wp-video-shortcode,
#buddypress div.rtmedia-activity-container ul.rtmedia-list li.media-type-video .rtmedia-item-thumbnail .wp-audio-shortcode {
	max-width: 100%;
}

#buddypress div.rtmedia-activity-container ul.rtmedia-list li.media-type-video {
	padding-left: 0!important;
}

#buddypress div.item-list-tabs ul li,
#buddypress .button-nav li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

#buddypress div#item-header div#item-header-content,
#buddypress ul.item-list li div.item-title,
#buddypress ul.item-list li h4  {
	width: 100%!important;
}

#buddypress ul.item-list li .item {
	margin-left: 0!important;
}

.rtmedia-container .rtmedia-create-new-album-container,
.rtmedia-activity-container .rtmedia-create-new-album-container,
#buddypress div.rtmedia-activity-container .rtmedia-create-new-album-container {
	overflow: visible!important;
}

.rtmedia-create-new-album-container #rtmedia_album_name {
	margin: 5px 0!important;
}

#buddypress form#whats-new-form #whats-new-content {
	margin: 0!important;
	padding: 0!important;
	width: 100%;
}

#buddypress #whats-new-options {
	height: auto!important;
}

#buddypress .standard-form #basic-details-section, 
#buddypress .standard-form #blog-details-section, 
#buddypress .standard-form #profile-details-section,
#buddypress div#item-header div#item-actions {
	width: 100%!important;
}

#buddypress #item-header-avatar {
	clear: both!important;
}
#buddypress form#whats-new-form p.activity-greeting {
	line-height: 1em!important;
}

#buddypress form.standard-form .main-column {
	margin-left: 0!important;
}

#buddypress div#invite-list {
	width: 90%!important;
}

#buddypress form.standard-form .left-menu {
	float: none!important;
}

.widget_bp_core_members_widget #members-list-options {
	margin: -30px 0 9px!important;
}

#buddypress div.activity-comments {
	margin-left: 45px!important;
}

#buddypress div.activity-comments ul ul {
    margin-left: 0!important
}

#buddypress div.activity-comments ul.has-comments li {
	padding-left: 0!important;
}
